.header {
  scroll-behavior: smooth;
  background-color: #000000;
  width: 100%;
  z-index: 1;
  position: fixed;
}

.header .nav__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 100px;
  align-items: center;
}

.header .nav__list .nav__item, a{
  color: #cdcdcd;
  font-size: 30px;
}

.header .nav__list .nav__item:hover, a:hover {
  color: #b82727;
  transition-duration: 0.8s;
}

@media only screen and (max-width: 770px) {

  .header .nav__list {
    justify-content: space-around;
  }

  .header .nav__list li:not(:first-child):not(:last-child) {
    display: none;
  }
}