.header {
  background-color: #000000;
  width: 100%;
  z-index: 2;
  position: sticky;
  top: 0;
  font-family: "Handjet", sans-serif;
  font-weight: 500;
}

.header .nav__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 100px;
  align-items: center;
}

.header .nav__list .nav__item, a{
  color: #cdcdcd;
  font-size: 50px;
}

.sign_or_log_in {
  border: #691a1a solid 3px;
  border-radius: 10px;
  padding: 4px 6px;
}

.naw__item-account {

  border-radius: 50%;
  padding: 6px 6px 1px 10px;
  background-image: radial-gradient(circle, #410b0b, #410b0b, #330b0e, #000000, #000000);
}
.naw__item-account:hover {
  background: radial-gradient(circle, #7f041f, #600b1f, #420e1b, #000000, #000000);
}
.naw__item-account:active {
  opacity: 0.5;
  background: radial-gradient(circle, #7f041f, #600b1f, #420e1b, #000000, #000000);
}


.header .nav__list .nav__item:hover, a:hover {
  color: #b82727;
  transition-duration: 0.8s;
}

@media only screen and (max-width: 770px) {

  .header .nav__list {
    justify-content: space-around;
  }

  .header .nav__list li:not(:first-child):not(:last-child) {
    display: none;
  }
}