.main-block {
  background-image: linear-gradient(to bottom, #000000, #1c060b, #2c0a11, #3e0713, #500213);}
.main-block .main-block__gif {
  display: flex;
  background: url(../img/UgwL.gif) center;
  border-radius: 10px;
  height: calc(15vw + 25vh);
  min-height: 300px;
  max-height: 550px;
  align-content: flex-end;
  justify-content: end;
  flex-direction: column;
  animation-name: background-size-animation;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  filter: brightness(0.8)
}


@keyframes background-size-animation {
  0% {
    background-size: 130% auto;
  }
  50% {
    background-size: 150% auto;
  }
  100% {
    background-size: 130% auto;
  }
}

.main-block .main-block__gif h1 {
  font-family: "Kode Mono", monospace;
  color: #000;
  margin: 0;
  animation-name: text-shadow-animation, text-size-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition-duration: 0.8s;
  margin-bottom: 6vh;
}

@keyframes text-size-animation {
  0% {
    font-size: calc(26px + 2vh + 2vw);
  }
  58% {
    font-size: calc(26px + 2vh + 2vw);
  }
  62% {
    font-size: calc(26px + 3vh + 2vw);
  }
  66% {
    font-size: calc(26px + 2vh + 2vw);
  }
  70% {
    font-size: calc(26px + 3vh + 2vw);
  }
  74% {
    font-size: calc(26px + 2vh + 2vw);
  }
  100% {
    font-size: calc(26px + 2vh + 2vw);
  }
}

@keyframes text-shadow-animation {
  0% {
    text-shadow: rgb(160, 30, 16) 4px 4px 10px;
  }
  20% {
    text-shadow: rgb(224, 36, 15) 4px 4px 10px;
  }
  40% {
    text-shadow: rgb(255, 165, 0) 4px 4px 10px;
  }
  60% {
    text-shadow: rgb(255, 165, 0) 4px 4px 10px;
  }
  80% {
    text-shadow: rgb(224, 36, 15) 4px 4px 10px;
  }
  100% {
    text-shadow: rgb(160, 30, 16) 4px 4px 10px;
  }
}

.main-block .main-block__gif a {
  font-weight: 700;
  border-radius: 10px;
  background-color: #000000;
  padding: 20px 20vw;
  font-size: calc(16px + 1vw);
  color: #e6f2f1;
  transition-duration: 0.6s;
  box-shadow: 10px 10px 10px #121212;
  display: inline-block;
}

.main-block .main-block__gif a:hover {
  background-color: #5c0000;
  transform: scale(1.1);
  display: inline-block; /* Added */
}

.about-game {
  color: #e2dbda;
  background-color: #500213;
}

.about-game h2 {
  text-align: start;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: calc(16px + 3vh);
}

.about-game .about-game__grid {
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.about-game .about-game__grid .about-game__item {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #2b0009;
  margin-bottom: 20px;
}

.about-game .about-game__grid .about-game__item h3 {
  font-size: 22px;
}

.about-game .about-game__grid .about-game__item p {
  font-size: 18px;
}

.about-game .about-game__grid .about-game__item_first {
  padding: 25px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.about-game .about-game__grid .about-game__item_first h3 {
  font-size: 25px;
  margin-bottom: 60px;
}

.about-game .about-game__grid .about-game__item_first p {
  font-size: 20px;
}

.about-game .about-game__grid .about-game__item_first button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #82a0aa;
  border: 0;
}

.beta {
  background-image: linear-gradient(to bottom, #500213, #7c4155, #a07d95, #c7bccd, #fbfbfd);
  color: #ffffff;
}

.beta h2 {
  margin: 0;
  font-size: calc(16px + 3vh);
  padding: 40px;
  text-align: start;
}

.beta .beta-block {
  background-color: rgba(53, 10, 10, 0.26);
  border: 2px solid #2b0009;
  text-align: start;
  border-radius: 15px;
}

.beta .beta-block h3 {
  padding: 40px;
  font-size: 30px;
}

.beta .beta-block p {
  padding: 0 40px;
  font-size: 25px;
}

.beta .beta-block .beta-block__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  text-align: center;
  margin-top: 80px;
}

.registration_block {
  text-align: center;
  color: #cdcdcd;
}

.registration_link {
  padding: 20px 0;
  background-color: #000000;
  font-size: 40px;
  border-radius: 0 0 10px 10px;
}

@media only screen and (max-width: 770px) {
  .main-block .main-block__gif {
    height: calc(5vw + 10vh);
  }

  @keyframes text-size-animation {
    0% {
      font-size: calc(26px + 3vw);
    }
    58% {
      font-size: calc(26px + 3vw);
    }
    62% {
      font-size: calc(26px + 4vw);
    }
    66% {
      font-size: calc(26px + 3vw);
    }
    70% {
      font-size: calc(26px + 4vw);
    }
    74% {
      font-size: calc(26px + 3vw);
    }
    100% {
      font-size: calc(26px + 3vw);
    }
  }

  .about-game .about-game__grid {
    grid-template-columns: 1fr;
  }

  .beta .beta-block .beta-block__grid {
    grid-template-columns: 1fr;
  }
}