.private_office_container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to bottom, #000000, #1c060b, #2c0a11, #3e0713, #500213);
    color: #e2dbda;
    min-height: calc(100vh - 233.2px);
    margin: 0 auto;
    width: 100%;
}

.private_office {
    background-color: rgba(145, 46, 46, 0.26);
    border: 2px solid #e2dbda;
    border-radius: 15px;
    padding: 20px;
    margin: 50px 0;
}

.private_office_title {
    font-size: calc(10px + 2vh);
    margin-bottom: 20px;
}

.new_password_button {
    border: none;
    color: #e2dbda;
    cursor: pointer;
    font-size: 16px;
    margin: 200px 0;
    padding: 10px 20px;
}

.beta_title {
    font-size: 30px;
    margin-bottom: 20px;
}

.beta_status {
    font-size: 20px;
    margin: 20px 10px;
    color: #ffffff;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    -webkit-text-fill-color: rgba(190, 173, 173, 0.595) !important;
}

.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    -webkit-text-fill-color: rgba(190, 173, 173, 0.595) !important;
}

.logout_button {
    display: inline-block;
    font-size: 12px;
    padding: 0 4px;
    cursor: pointer;
}